src/prof/soap-ws-java-client/src/wsdl/localhost_8080/SensorsWebservice/SensorsWebservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapws.prof.tcontrol.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapws.prof.tcontrol.com/">

<xs:element name="sensors" type="tns:sensors"/>

<xs:element name="sensorsResponse" type="tns:sensorsResponse"/>

<xs:complexType name="sensors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sensorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:sensor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sensor">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>